body {
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto', 'Helvetica';
}

.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 180px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
}

.right .links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    padding-right: 150px;
}

a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

.container-one {
    background-color: #1F2937;
}

#hero-text-primary {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    padding-left: 150px;
}

#hero-text-secondary {
    padding-left: 150px;
    opacity: 0.7;
}